body {
    background-color: #F0F3F5;
}

#menu-column {
    background-color: #90C2C0;
}

#task-column {
    background-color: #C39F9C;
}

.board-column {
    border: 1px solid;
    border-radius: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.column-header {
    border-bottom: 1px solid;
}

.column-header a {
    color: white;
}

.task-container {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

    .task-container:hover {
        text-decoration: none;
    }

.board-column-tasks {
    min-height: 200px;
}

#board-column-container > :nth-child(6n+1) {
    clear: left;
}

#board-column-container {
    margin-top: 20px;
}

#board-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-favorite {
    background-color: yellow;
}

/*filterrow start*/
#board-search-container {
    margin-top: 20px;
}
/*filterrow end*/


.task-image {
    height: auto;
    overflow:hidden;
}

.task-image-remove {
    margin-bottom: 10px;
}