@using ProjectManagementApplication.Helpers
@using ProjectManagementApplication.Models
@model ProjectManagementApplication.Models.Task

@Html.HiddenFor(model => model.TaskId, new { id = "taskid" })
<div id="task-details-container">

</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var taskId = $("#taskid").val();
            var hub = $.connection.boardHub;

            hub.client.taskUpdated = function (updatedTaskId) {
                console.log("refresh" + updatedTaskId);
                if (taskId == updatedTaskId) {
                    updateDetails();
                }
            };

            $.connection.hub.start();

            function updateDetails() {
                console.log(taskId);
                $.ajax({
                    url: "/Tasks/DetailsGet",
                    type: "GET",
                    data: {
                        id: taskId
                    }
                }).done(function (partialViewResult) {
                    $("#task-details-container").html(partialViewResult);
                });
            }
            updateDetails();
        });
    </script>
}
