@model ProjectManagementApplication.Models.Task

@Html.HiddenFor(model => model.TaskId, new { id = "taskid" })
<div id="task-details-container">
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/myscripts/taskupdate.js")"></script>
}
