@using ProjectManagementApplication.Helpers
@using ProjectManagementApplication.Models
@model ProjectManagementApplication.Models.Task

@Html.HiddenFor(model => model.TaskId,new {id = "taskid"})
<div id="task-details-container">
    
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var taskId = $("#taskid").val();
        console.log(taskId);
        $.ajax({
            url: "/Tasks/DetailsGet",
            type: "GET",
            data: {
                id: taskId
            }
        }).done(function (partialViewResult) {
            $("#task-details-container").html(partialViewResult);
        });
    });
</script>
}
