@model ProjectManagementApplication.ViewModels.ImageViewModel
<h2>Upload image</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TaskId)
    @Html.ValidationSummary(true)

    <div>
       @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
    </div>
    <button type="submit">Upload</button>
</form>
