@using ProjectManagementApplication.Models
@model ProjectManagementApplication.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-2" id="menu-column">
        <h2>@Model.SelectedBoard.Title</h2>

       <input id="board-id" type="hidden" value="@Model.SelectedBoard.BoardId" />

        <h3>
            Boards
        </h3>

        @{Html.RenderPartial("PartialView/BoardListColumn", Model.AllBoards, ViewData);}
        
        <h3>
            Labels
        </h3>
        <ul class="list-group">
            <li class="list-group-item">Label 1</li>
            <li class="list-group-item">
                Label 2
            </li>
        </ul>
        <h3>Members</h3>
        <ul class="list-group">
            <li class="list-group-item">Member 1</li>
            <li class="list-group-item">Meber 2</li>
        </ul>
        <h3>Deadline</h3>
        <ul class="list-group">
            <li class="list-group-item">Due tomorrow</li>
            <li class="list-group-item">Due nextweek</li>
            <li class="list-group-item">Overdue</li>
            <li class="list-group-item">No end date</li>
        </ul>
    </div>
    <div class="col-md-7">
        <div id="selector-buttons"class="btn-group btn-group-justified">
            <a id="all-tasks" class="btn btn-primary active">All tasks</a>
            <a id="assigned-tasks" class="btn btn-primary">Assigned to me</a>
            <a id="created-tasks" class="btn btn-primary">Created by me</a>
        </div>
    </div>
    <div id="refTable">
    </div>
    <div class="col-md-3" id="task-column">
        <h2 class="text-center">Task name</h2>
        <h3 contenteditable="true">Task description:</h3>
        <p>
            Example description ....
            <br>
            <br>
        </p>
        <h4>Created by: Member 1</h4>
        <h4>Assigned to: Member 2</h4>
        <h4>End date: 1/01/2018</h4>
        <h4>Images:</h4>
        <div class="row">
            <div class="col-md-12">
                <img src="https://i.vimeocdn.com/portrait/58832_300x300"
                     class="img-responsive col-md-4">
                <img src="https://i.vimeocdn.com/portrait/58832_300x300"
                     class="img-responsive col-md-4">
                <img src="https://i.vimeocdn.com/portrait/58832_300x300"
                     class="img-responsive col-md-4">
            </div>
        </div>
        <a class="btn btn-block btn-info btn-sm">Add comment<br></a>
        <h3 contenteditable="true">Comments:</h3>
        <a class="btn btn-block btn-sm btn-success">Add comment<br></a>
        <blockquote>
            <p>Test comment 1</p>
            <footer>Member 1</footer>
        </blockquote>
        <blockquote>
            <p>Test comment 2</p>
            <footer>Member 2</footer>
        </blockquote>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selector-buttons .btn').click(function () {
            $(this).addClass('active').siblings().removeClass('active');

            var buttonType = $(this).attr('id');
            var boardId = $("#board-id").val();

            console.log(boardId);
            $.ajax({
                url: "/Boards/DetailsPart",
                type: "GET",
                data: { id: boardId, type: buttonType }
            })
            .done(function (partialViewResult) {
                $("#refTable").html(partialViewResult);
            });
        });

        $("#all-tasks").trigger("click");
    });
</script>